body {
  background-color: #FFFFF8;
  color: #0A1827;
}

#wrapper {
  width: 60%;
  height: 80%;
  margin: 10% auto 0 auto;
}

#ok {
  font-size: 50px;
  color: #0A1827;
  text-align: center;
}

#commentary-div{
  width: 70%;
  margin: 50 auto;
}

#commentary-content {
  color: #0A1827;
  font-size: 20px;

}

#next-button {
  text-align: center;
  margin: 0 auto;
  width: 30%;
  color: #3D6F85;
  font-size: 20px;
  border: solid;
  border-radius: 10px;
}

#next-button:hover{
  color: #2C3E50;
  cursor: pointer;
}
