
body {
  background-color: #FFFFF8;
  color: #0A1827;
}

#wrapper {
  width: 60%;
  height: 80%;
  margin: 3% auto 0 auto;
}

#title {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #0A1827;
  text-align: center;
  font-size: 50px;
}

#elements {
  margin-top: 30px;
  overflow: hidden;
}

.element {
  color: #3D6F85;
  font-size: 30px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: #3D6F85;
}

#fee {
  margin:15 auto;
  width: 215px;
}

#time {
  margin:15 auto;
  width: 210px;
}

#keyword {
  margin:15 auto;
  width: 360px;
}

#aim {
  margin:15 auto;
  width: 325px;
}

#content {
  margin:15 auto;
  width: 465px;
}

#name {
  margin:15 auto;
  width: 400px;
}

#for {
  margin:15 auto;
  width: 535px;
}

#condition {
  margin:15 auto;
  width: 665px;
}

#creaters {
  margin:15 auto;
  width: 690px;
}
